body {
    background-color:lavender;
    text-align: center;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;

}

table, tr, th{
    font-size: 150%;
}

th {
    font-family: 'Lucida Sans';

}
