html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#screen {
    z-index: 1;
}

#guessbox {
    position: auto;
    z-index: 2;
    margin-top: 10px;
    margin-right: 90%;
}

#guessbox:hover {
    cursor: crosshair;
}