html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.head {
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background-color: gray;
    text-align: center;
    font-size: xx-large;
}

#restartbutton {
    width:100px;
}

#guessbutton {
    width:100px;
}