html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#screen {
    z-index: 1;
}

#top {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    height:50px;
}

#maintext {
    color:yellow;
}

#restart {
    width:100px;
}